PORT=3000

# Database
MONGO_URI=

# Session
SESSION_SECRET=

# Nodemailer
NODEMAILER_EMAIL=
NODEMAILER_PASS=

# OAuth
CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=